@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
}
html, body, div, span{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

h1, h2, h3, h4{
    text-align: center;
    z-index: 2;
}
section{
    z-index: 2;
    overflow:initial;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #46178f;
    color: white;
    font-family: 'Montserrat', Arial, sans-serif;
    overflow: hidden;
}

#gradient1{
    width: 1000px;
    height: 1000px;
    position: absolute;
    left: -20%;
    top: -40%;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgba(23,143,70,1) 0%, rgba(23,143,70,0) 60%);
    z-index: -1;
    animation: gradient1 6s ease infinite;
}

@keyframes gradient1{
    0% {
        left: -20%;
        top: -40%;
	}
    25%{
        left: 60%;
        top: -40%;
    }
	50% {
		left: -20%;
        top: 50%;
	}
    75%{
        left: 60%;
        top: 50%;
    }
	100% {
		left: -20%;
        top: -40%;
	}
}

#gradient2{
    width: 700px;
    height: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgba(143,70,23,1) 0%, rgba(143,70,23,0) 60%);
    z-index: -1;
    animation: gradient2 10s ease infinite;
}

@keyframes gradient2{
    0% {
        left: 50%;
        top: 50%;
	}
    25%{
        left: 10%;
        top: 50%;
    }
	50% {
		left: 10%;
        top: -10%;
	}
    75%{
        left: 50%;
        top: -10%;
    }
	100% {
		left: 50%;
        top: 50%;
	}
}

audio {
    display: none;
}
div{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: white;
    color: #222222;
    margin: 16px auto;
    text-align: center;
    width: 260px;
}
input{
    padding: 1em;
    border-radius: 4px;
    font-size: 16px;
    margin: 1em;
}
input[type=button]{
    background-color: #333333;
    color: white;
    border: #333333 solid 2px;
    transition: all 0.2s ease 0.1s;
    cursor: pointer;
}
input[type=button]:hover{
    background-color: white;
    color: #333333;
}
input[type=number],input[type=text]{
    border: gray solid 2px;
}
input[type=number]:focus, input[type=text]:focus{
    outline: none;
    border: #333333 solid 2px;
}

#iDifficult{
    display: block;
}
#iDifficult div:nth-child(2){
    float: left;
    margin-right: 7em;
}
#iDifficult div:last-child{
    margin-top: 34px;
}
#iPlay{
    display: none;
}
#iPlay img{
    position: absolute;
    transform: scaleX(1);
    right: 1%;
    animation-name: dino_play;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes dino_play{
    from {
        right: 1%;
        transform: scaleX(1);
    }
    49% {
        transform: scaleX(1);
    }
    50% {
        right: calc(100% - 200px);
    }
    51% {
        transform: scaleX(-1);
    }
    99%{
        transform: scaleX(-1);
    }
    to {
        right: 1%;
        transform: scaleX(1);
    }
}
#iWin{
    display: none;
}
#iWin img{
    margin-left: calc(70% - 180px);
}
#iLose{
    display: none;
}
#iLose img, #iScore img{
    margin-left: calc(84% - 180px);
}
#iScore{
    display: none;
}
#iUser{
    display: none;
}
#iResetValidation{
    display: none;
}
#iFlexResetValidation{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#resetValidation{
    background-color: red;
}
#resetAnnulation{
    background-color: green;
}


ol {
    list-style: none;
}
#displayRetourHome{
    display: none;
}
#iTitreJeu{
    background-color: transparent;
    width: 80%;
    color: white;  
}
#responseFindUser{
    padding: 5%;
}